# Cohort analysis 
is a descriptive analytics tool. It groups the customers into mutually exclusive cohorts - which are then measured over time. Cohort analysis provides deeper insights than the so-called vanity metrics. It helps with understanding the high level trends better by providing insights on metrics across both the product and the customer lifecycle.

# There are three major types of cohorts. 
1 Time cohorts are customers who signed up for a product or service during a particular time frame. Analyzing these cohorts shows the customers’ behavior depending on the time they started using the company’s products or services. The time may be monthly or quarterly, even daily. 

2 Behavior cohorts are customers who purchased a product or subscribed to a service in the past. It groups customers by the type of product or service they signed up. Customers who signed up for basic level services might have different needs than those who signed up for advanced services. Understanding the needs of the various cohorts can help a company design custom-made services or products for particular segments. 

3 Size cohorts refer to the various sizes of customers who purchase company’s products or services. This categorization can be based on the amount of spending in some period of time after acquisition, or the product type that the customer spent most of their order amount in some period of time. Now, let's look at the main elements of the cohort analysis.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# Import Data
online = pd.read_csv(r"C:\Users\Ricardo S. Biason\OneDrive\Ric\DataCamp\Marketing Analytics for Python\Customer Segmentation in Python\1 Cohort Analysis\chapter_1\online.csv")

A little bit about out data. We will use a 20% random sample from 
University of California Irvine-Machine Learning Repository- Online retail dataset with half a million transactions. This is a realistic dataset with customer transactions which is commonly used in segmentation. Let's look at the first 10 rows of it.

Top 10 rows of data
The data contains 9 columns with the customer transactions. The main ones we will use are: date, price, and the customerID. Now that we have loaded the data, let's build a simple cohort table for time-based cohorts.

In [9]:
online.head(n=10)

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,416792,572558,22745,POPPY'S PLAYHOUSE BEDROOM,6,2011-10-25 08:26:00,2.10,14286,United Kingdom
1,482904,577485,23196,VINTAGE LEAF MAGNETIC NOTEPAD,1,2011-11-20 11:56:00,1.45,16360,United Kingdom
2,263743,560034,23299,FOOD COVER WITH BEADS SET 2,6,2011-07-14 13:35:00,3.75,13933,United Kingdom
3,495549,578307,72349B,SET/6 PURPLE BUTTERFLY T-LIGHTS,1,2011-11-23 15:53:00,2.10,17290,United Kingdom
4,204384,554656,21756,BATH BUILDING BLOCK WORD,3,2011-05-25 13:36:00,5.95,17663,United Kingdom
5,125615,547051,22028,PENNY FARTHING BIRTHDAY CARD,12,2011-03-20 12:06:00,0.42,12902,United Kingdom
6,483123,577493,20724,RED RETROSPOT CHARLOTTE BAG,10,2011-11-20 12:13:00,0.85,17323,United Kingdom
7,449888,575143,23343,JUMBO BAG VINTAGE CHRISTMAS,10,2011-11-08 15:37:00,2.08,13643,United Kingdom
8,127438,547223,22934,BAKING MOULD EASTER EGG WHITE CHOC,2,2011-03-21 15:10:00,2.95,12867,United Kingdom
9,189515,553156,21212,PACK OF 72 RETROSPOT CAKE CASES,2,2011-05-13 14:58:00,0.55,17841,United Kingdom

In [16]:
# Define a function that will parse the date
def get_month(x): return dt.datetime(x.year, x.month, 1) 

# Create InvoiceDay column
online['InvoiceMonth'] = online['InvoiceDate'].apply(get_month) 

# Group by CustomerID and select the InvoiceDay value
grouping = online.groupby('CustomerID')['InvoiceMonth'] 

# Assign a minimum InvoiceDay value to the dataset
online['CohortMonth'] = grouping.transform('min')

# View the top 5 rows
print(online.head())

NameError: name 'dt' is not defined